.container {
    width: 100%;
    background: var(--color-blue-white);
    height: auto;
    transition: height .3s;
}

.content {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
    margin-top: 12px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.title h4 {
    font-size: 22px;
    line-height: 60px;
    font-weight: 400;
    color: var(--color-blue-dark);
}

.title p {
    color: var(--color-blue);
    line-height: 24px;
}

.title p:hover {
    cursor: pointer;
    opacity: .9;
}

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.notPosts {
    display: flex;
    justify-content: center;
}


@media(max-width: 950px) {
    .content {
        padding: 0 15px;
    }
}
