.container {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: var(--color-blue-dark);
}

@media(max-width: 950px) {
    .container {
        padding: 0 15px;
    }
}

@media(max-width: 450px) {
    .title {
        text-align: center;
    }
}