.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 27px;
}

.links a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
    font-size: 20px;
    margin-left: 33px;
}


@media (max-width: 900px) {
    .header {
        display: none;
    }
}