@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  
}

:root {
  --background-button: #FF6464;
  --color-blue-dark: #21243D;
  --color-blue-white: #EDF7FA;
  --color-blue: #00A8CC;
  --color-gray: #8695A4;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-white:#E0E0E0;

  --width-wrapper: 1140px;
  --width-container: 920px;
}